<%= maglev_section.wrapper_tag.div do %>
  <div class="px-4 py-8 mx-auto max-w-screen-2xl sm:px-6 lg:px-8 space-y-4">
    <% maglev_section.blocks.each do |maglev_block| %>
      <%= maglev_block.wrapper_tag.details class: 'group' do %>
        <summary
          class="flex items-center justify-between p-4 rounded-lg cursor-pointer bg-gray-50"
        >
          <%= maglev_block.setting_tag :question, html_tag: 'h5', class: 'font-medium text-gray-900' %>
          
          <svg
            class="flex-shrink-0 ml-1.5 w-5 h-5 transition duration-300 group-open:-rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"
            />
          </svg>
        </summary>

        <%= maglev_block.setting_tag :answer, html_tag: 'p', class: 'px-4 mt-4 leading-relaxed text-gray-700' %>
      <% end %>
    <% end %>
  </div>
<% end %>